table {
  display: flex;
  width: 100%;
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 50px;

}

th, td {
  justify-items: center;
  padding: 50px;
  border: 1px solid lightgray;
  border-collapse: collapse;

}

img {
  width: 100px;

}
.cardHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  color:gray;
background-color: white;
  padding: 5px;
}
