<!---SEARCH MOVIES--->
<div class="product">
  <div class="jumbotron text-center">
  </div>
  <div>
  </div>
  <div class="product-album">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let movie of allMovies">
          <div class="card-items mb-5">
            <img [src]='movie.imageUrl' class="card-img-top" role="img">
            <div class="card-body">
              <h6> {{movie.name}}</h6>
              <span class="card-text">{{ movie.description }}</span>
              <span class="price"> Price: {{ movie.price | currency: " SEK " }}</span>
              <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm submitButton"
                          (click)="cartService.addToCart(movie)">BUY
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
