.cardHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  color:gray;
background-color: transparent;
  padding: 5px;
}

.searchButton {
  color: white;
}
h3, h2, p {
  font-family: 'Lora', serif;
  color: ghostwhite;
  position: relative;
  text-space: 1;

}
span {
  font-family: 'Lora', serif;
  color: ghostwhite;
  position: relative;
  text-transform: uppercase;
  text-space: 1;
  margin:2%;

}
