/* You can add global styles to this file, and also import other style files */

body{ /* IMAGE FOR ENTIRE BACKGROUND */
  background-image: url("~img/kilyan-sockalingum-478724-unsplash.jpg");
  background-repeat: repeat;
  background-size: 100%;
}
