<!--The content below is only a placeholder and can be replaced.-->
<section class="hero">
  <div id="magnifying-glass"></div><h3>Hej</h3>
  <div class="hero-inner">
    <h1>{{ title }}</h1>
    <a routerLink="/Shop" routerLinkActive="active" class="buttonEnter">Shop</a>
    <a routerLink="/Cart" routerLinkActive="active" class="buttonEnter"><i class="fab fa-opencart fa-2x"></i></a>
    <a routerLink=".." routerLinkActive="active" class="buttonEnter">Home</a>
  </div>
</section>

<main>
  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec nibh molestie, efficitur leo sed, viverra nunc. Donec vehicula accumsan erat facilisis ullamcorper. </span>
</main>


<router-outlet></router-outlet>
